.fied-in-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    width: 49%;
    min-width: 13rem;

    @media (max-width: 695px) {
      width: 100%;
    }
  }

  .width-full {
    width: 100%;
  }
}

.width-full {
  width: 100%;
}
